In [2]:
import numpy as np
import pandas as pd

In [3]:
n = 10

In [10]:
data = {'Gender' : np.random.choice(['Male', 'Famale'], size= n),
       'Age' : np.random.randint(0, 85, size= n)}

data['RBC'] = np.where(data['Age'] >= 65,
                  round(np.random.uniform(3.9, 5.6), 2),
                       np.where((data['Age'] >= 12) & (data['Age'] < 65),
                                np.where(data['Gender'] == 'Male',
                                         round(np.random.uniform(4.5, 5.9), 2),
                                         round(np.random.uniform(3.8, 5.0), 2)), np.where((data['Age'] < 12) & (data['Age'] >= 1), round(np.random.uniform(4.1, 5.5), 2),
                                                                                                                                    round(np.random.uniform(4.1, 6.1), 2))))

data['WBC'] = np.where(data['Age'] >= 65,
                  round(np.random.uniform(3.8, 10.0), 2),
                       np.where((data['Age'] >= 12) & (data['Age'] < 65),
                                np.where(data['Gender'] == 'Male',
                                         round(np.random.uniform(4.5, 11.0), 2),
                                         round(np.random.uniform(4.5, 11.0), 2)), np.where((data['Age'] < 12) & (data['Age'] >= 1), round(np.random.uniform(5, 14.5), 2),
                                                                                                                                    round(np.random.uniform(9, 30.0), 2))))

data['Hb'] = np.where(data['Age'] >= 65,
                  round(np.random.uniform(11.5, 16.0), 2),
                       np.where((data['Age'] >= 12) & (data['Age'] < 65),
                                np.where(data['Gender'] == 'Male',
                                         round(np.random.uniform(13.5, 17.5), 2),
                                         round(np.random.uniform(12, 15.5), 2)), np.where((data['Age'] < 12) & (data['Age'] >= 1), round(np.random.uniform(11.5, 15.5), 2),
                                                                                                                                    round(np.random.uniform(13.5, 23.5), 2))))
data['Hct'] = np.where(data['Age'] >= 65,
                  np.random.randint(36, 47, size= 10),
                       np.where((data['Age'] >= 12) & (data['Age'] < 65),
                                np.where(data['Gender'] == 'Male',
                                         np.random.randint(40, 50, size= 10),
                                         np.random.randint(34, 44, size= 10)), np.where((data['Age'] < 12) & (data['Age'] >= 1), np.random.randint(35, 45, size= 10),
                                                                                                                                    np.random.randint(45, 65, size= 10))))
data['PLT'] = np.where(data['Age'] >= 65,
                  np.random.randint(150, 400, size= 10),
                       np.where((data['Age'] >= 12) & (data['Age'] < 65),
                                np.where(data['Gender'] == 'Male',
                                         np.random.randint(150, 400, size= 10),
                                         np.random.randint(150, 400, size= 10)), np.where((data['Age'] < 12) & (data['Age'] >= 1), np.random.randint(150, 400, size= 10),
                                                                                                                                    np.random.randint(150, 400, size= 10))))

df = pd.DataFrame(data)
df

   Gender  Age   RBC   WBC     Hb  Hct  PLT
0  Famale   73  4.22  8.23  14.61   42  222
1  Famale   63  4.79  7.20  14.34   36  187
2    Male   58  5.65  9.43  15.23   46  288
3  Famale   81  4.22  8.23  14.61   43  168
4  Famale    7  5.38  7.92  12.37   38  360
5    Male   10  5.38  7.92  12.37   36  269
6  Famale    8  5.38  7.92  12.37   42  361
7    Male   74  4.22  8.23  14.61   44  331
8  Famale   47  4.79  7.20  14.34   38  273
9  Famale   77  4.22  8.23  14.61   36  195